* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
}
.container-contato {
  display: flex;
  flex-wrap: wrap;
  padding: 0 auto;
  justify-content: center;
  height: 84vh;
  align-items: center;
  flex-direction: column;
  margin: 1rem;
}
.textos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.container-contato h2 {
  display: inline-block;
  font-size: clamp(3.5rem, 6vw, 5.5rem);
  word-break: break-all;
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.container-contato p {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-weight: bold;
  word-break: break-all;
}
footer h3 {
  display: flex;
  justify-content: space-evenly;
  font-size: 0.8rem;
  font-weight: 100;
  padding-top: 4.8em;
}
.container-contato span {
  font-size: 3rem;
}
.container-contato a {
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  border: solid 2px black;
  border-radius: 5px;
  display: inline-block;
  padding: 0.62em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 100px;
  color: black;
}
.container-contato a:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px;
}

body {
  background-image: url(../img/wave2.svg);
  background-repeat: no-repeat;
  background-attachment: fixed; /*n rola a pagina*/
  background-position: bottom;
}
