/*CONTAINER GERAL*/
.experiencia {
  max-width: 1200px;
  padding: 0.313em 1.25em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr; /*aqui é 2fr para ficar alinhado ao texto de cima de h1*/
  gap: 6.25em;
  outline: 2px solid purple;
}

.exp-text-cards {
  /* display: flex; */
  outline: 2px solid greenyellow;
  /* top: 20%; */
  /* display: grid; */
  /* margin-top: 10%; */
  /* grid-column: 2;
  grid-row: 1; */
  /* gap: 50px; */
}

.experiencia .subtitulo {
  color: #e0e0e0;
  /* outline: 2px solid red; */
  /* width: max-content; */
  /* height: max-content; */
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 55ch; /*defini o tamanho maximo dele de 40 caracteres*/
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

/*detalhe seta do button yellow do card*/
svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

/*as duas fileiras de cards coluna 1e2*/
.cardContainer {
  position: relative;
  width: 18.75em;
  height: 25em;
  min-width: 18.75em;
  min-height: 25em;
  margin: 0.25em;
  perspective: 1000px;
  /* outline: 2px solid red; */
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active:after {
  display: none;
}

.container-cards-geral {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 0em 1.25em;
  outline: 2px solid black;
}

.card {
  /* display: inline-block; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* -moz-backface-visibility: hidden; */
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  /* margin-right: 80px; */
  outline: 2px solid red;
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  /* opacity: 0; */
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fafafb;
}
.card .front {
  z-index: 2;
}
.card .back {
  transform: rotateY(180deg);
}
.card .info {
  padding: 12px; /*original 16px*/
  text-align: center;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 350px; /*original são 250px*/
}
.front .img1 {
  background-image: url(../img/bikcraft-img.png);
}

.front .img2 {
  background-image: url(../img/ragnarok-img.png);
}
.front .img3 {
  background-image: url(../img/wildbeast-img.png);
}
.front .img4 {
  background-image: url(../img/flexBlog-img.png);
}

/*BOTÃO DO GITHUB NO CARD*/
.github-card img:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}

.github-card {
  margin: 1em 2em;
}
.github-card p {
  margin-top: -2em;
}
.lista-card-descri li:last-child {
  color: #ffb714;
}
/*BOTÃO DO GITHUB NO CARD FIM*/
*/ .back {
  position: relative;
}
.back h2 {
  margin-top: 0.375em;
  margin-bottom: 1em;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 0.75em;
  cursor: pointer;
}
/* .back .reviews p {
  color: #c4c4c4;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
  outline: 2px solid greenyellow;
} */

/* .back .reviews:hover p {
  color: #555;
} */

/*todos textos dentro da card verso*/
.back li {
  line-height: 2.4ch;
  margin: 2px 0 6px 0;
}

/*botao amarelo do verso card*/
.back .btn {
  position: absolute;
  bottom: 1em;
  width: calc(100% - 32px);
  height: 5.9ch; /*56px*/
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc324;
  background-image: linear-gradient(-90deg, #ffb714, #ffe579);
  border-radius: 5px;
  cursor: pointer;
}
.back .btn:hover h4 {
  transform: translateX(0px);
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}

/* TENTANDO CARD NOVO DOS PROJETOS FIM */
/* .exp-img {
  display: grid;
} */

/*container geral com texto e todos cards e bottom*/

/*pega toda segunda coluna do exp*/
.exp-e-img {
  display: grid;
  outline: 4px solid pink;
  /* gap: 17em; */
  /* margin: 20px; */
}
.exp-e-img h3 {
  display: inline-block;
  /* font-size: 4.5rem; */
  font-size: clamp(3rem, 4vw, 5.5rem);
  text-transform: uppercase;
  word-break: break-all;
  color: #2fa0fb;
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  outline: 2px solid greenyellow;
}

/* titulo 'EXPERIENCIA'*/
.subtitulo {
  font-size: 9.5rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

/*botão mais projetos..*/

.botao-mais-projetos {
  /* outline: 2px solid greenyellow; */
  display: inline-block;
  /* display: block; */
  /* margin-right: 50%; */
  margin-left: 38%;
  margin-top: 3%;
  /* align-items: center; */
  /* background-color: #f9f9f9; */
  /* display: flex; */
  /* height: 100%; */
  /* justify-content: center; */
  /* max-width: 100%; */
  /* min-height: 100vh; */
  /* position: relative; */
}

.botao-mais-projetos > a {
  /* outline: 2px solid red; */
  display: block;
  /* margin-left: 50%; */
  /* margin-right: 50%; */
  /* background-color: #0dd; */
  background-color: #0090f7;
  /* border: none; */
  transition: background-color 0.5s linear, color 0.5s linear;
  padding: 0.625em 1.25em;
  /* border: solid 2px red; */
}
.botao-mais-projetos a:hover {
  background-color: #0dd;
}
.botao-mais-projetos a:focus {
  outline: none;
}

.botao-link-effect {
  -webkit-animation: shadowFloat 1.2s linear alternate infinite;
  animation: shadowFloat 1.2s linear alternate infinite;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  padding: 20px 40px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #00aaaa;
}

@-webkit-keyframes shadowFloat {
  0% {
    box-shadow: 0 20px 40px #c7c7c7;
    transform: translateY(-3px);
  }
  100% {
    box-shadow: 0 10px 10px #bababa;
    transform: translateY(3px);
  }
}

@keyframes shadowFloat {
  0% {
    box-shadow: 0 20px 40px #c7c7c7;
    transform: translateY(-3px);
  }
  100% {
    box-shadow: 0 10px 10px #bababa;
    transform: translateY(3px);
  }
}

/* --------------------------------------------------------responsivo----------------------------------------------------- */

@media (max-width: 1020px) {
  .exp-e-img img {
    display: none;
  }
  .subtitulo {
    display: none;
  }
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .container-cards-geral {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .exp-e-img h3 {
    /* text-align: center; */
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
    padding-top: 3em;
  }
  .experiencia-texto {
    font-size: 1.25rem;
    font-size: clamp(1rem, 1vw, 3.5rem);
  }
  .container-cards-geral {
    /* overflow-x: auto; */
    overflow: scroll;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 90%; /*600px e 410px/ 90% e 25%*/
    height: 70%;
  }
  .experiencia {
    max-height: 900px;
    margin-bottom: 80px;
  }
  .cardContainer {
    /* overflow-x: auto; */
    /* max-width: 10%; */
  }
  .card {
    /* max-width: 80%;
    max-height: 10%; */
  }
  .exp-text-cards {
    max-height: 600px;
    /* display: block; */
    /* max-height: 40%; */
    /* display: grid; */
    /* overflow-y: auto; */
  }
  .botao-mais-projetos {
    display: none;
  }
}
