/* TENTANDO CARD NOVO DOS PROJETOS */
/* *,
*:after,
*:before {
  box-sizing: border-box;
} */

svg {
  margin: 0px;
  min-width: 24px;
  min-height: 24px;
}

.cardContainer {
  /* display: flex; */
  /* flex: 1; */
  position: relative;
  width: 300px;
  height: 400px;
  min-width: 300px;
  min-height: 400px;
  margin: 4px;
  perspective: 1000px;
}

.active {
  transform: translateZ(0px) rotateY(180deg) !important;
}
.active:after {
  display: none;
}

.card {
  display: inline-block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  /* -moz-backface-visibility: hidden; */
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: all 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.card:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 14px 50px -4px rgba(0, 0, 0, 0.15);
  /* opacity: 0; */
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1.4);
}
.card:hover {
  transform: translateZ(0px);
}
.card:hover:after {
  opacity: 1;
}
.card .side {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #fafafb;
}
.card .front {
  z-index: 2;
}
.card .back {
  transform: rotateY(180deg);
}
.card .info {
  padding: 12px; /*original 16px*/
  text-align: center;
}

.front .img {
  background-color: #dadce2;
  background-position: center;
  background-size: cover;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 350px; /*original são 250px*/
}
.front .img1 {
  background-image: url(../img/bikcraft-img.png);
}

.front .img2 {
  background-image: url(../img/ragnarok-img.png);
}
.front .img3 {
  background-image: url(../img/wildbeast-img.png);
}
.front .img4 {
  background-image: url(../img/flexBlog-img.png);
}

/*BOTÃO DO GITHUB NO CARD*/
.github-card img:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px #000;
  transform: translateY(-5px);
}

.github-card {
  margin: 1em 2em;
}
.github-card p {
  margin-top: -2em;
}
.lista-card-descri li:last-child {
  color: #ffb714;
}
/*BOTÃO DO GITHUB NO CARD FIM*/
*/ .back {
  position: relative;
}
.back h2 {
  margin-top: 6px;
  margin-bottom: 18px;
}
.back .reviews {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}
.back .reviews p {
  color: #c4c4c4;
  font-weight: 300;
  margin: 1px 0 0 6px;
  transition: 0.3s ease-in-out;
}
.back .reviews:hover p {
  color: #555;
}
.back li {
  line-height: 22px;
  margin: 2px 0 6px 0;
}
.back .btn {
  position: absolute;
  bottom: 16px;
  width: calc(100% - 32px);
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffc324;
  background-image: linear-gradient(-90deg, #ffb714, #ffe579);
  border-radius: 5px;
  cursor: pointer;
}
.back .btn:hover h4 {
  transform: translateX(0px);
}
.back .btn:hover svg {
  transform: translateX(0px);
  opacity: 1;
}
.back .btn h4 {
  transform: translateX(12px);
  transition: transform 0.3s ease-out;
}
.back .btn svg {
  margin: 1px 0 0 4px;
  transform: translateX(-8px);
  opacity: 0;
  transition: all 0.3s ease-out;
}
.cardContainer {
  /* outline: 2px solid red; */
  display: inline-block;
}

/* TENTANDO CARD NOVO DOS PROJETOS FIM */

.exp-img {
  display: grid;
  outline: 2px solid red;
  /* display: grid;
  grid-column: -3; */
}
.exp-text-cards {
  outline: 2px solid greenyellow;
  /* top: 20%; */
  display: block;
  /* margin-top: 10%; */
  grid-column: 2;
  grid-row: 1;
}
.exp-e-img {
  display: grid;
  outline: 2px solid greenyellow;
  gap: 17em;
  /* margin: 20px; */
}
.experiencia img {
  outline: 2px solid red;
  /* height: 300px; */
  /* grid-column: 1; */
  /* grid-row: 2 / 2; */
  /* max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: none; */
}
.experiencia {
  outline: 2px solid red;
  max-width: 1200px;
  padding: 5px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr; /*aqui é 2fr para ficar alinhado ao texto de cima de h1*/
  gap: 100px;
}
.experiencia .subtitulo {
  color: #e0e0e0;
  outline: 2px solid red;
  /* width: max-content; */
  /* height: max-content; */
}

.experiencia-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch; /*defini o tamanho maximo dele de 40 caracteres*/
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr; /*dividi o conteudo de .empresa que é todo (conteudo das listas) em 2 colunas*/
  gap: 10px 20px; /*10px vertical e 20 horizontal*/
  padding: 20px;
  background: #f5f5f5;
  margin-bottom: 20px; /*desgrudar os rodapés dos itens em 20px*/
  border-radius: 4px;
  position: relative; /*a minha .empresa-ano vai estar relativa a esse item*/
}

.empresa::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute; /*meu elemento verde agora saiu do fluxo com isso*/
  top: 20px;
  left: -4px;
}

.empresa-ano {
  /* background: blue; */
  position: absolute; /*removi o ano das empresas totalmente do fluxo, elas estão 'flutando'*/
  top: 22px;
  left: -100px;
  text-align: right;
  width: 80px;
  color: #525252;
  font-size: 0.875rem;
}

.empresa-titulo {
  font-size: 1.125rem;
  line-height: 1.1;
  font-weight: bold; /*os titulos da seguna ccoluna n estavam em bold*/
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.empresa-habilidades {
  display: flex; /*agora o texto esta em linha*/
  flex-wrap: wrap;
  gap: 10px;
  align-content: start;
}

.empresa-habilidades li {
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
  background: #ffffff;
  padding: 5px 10px;
}

.subtitulo {
  /* titulo 'EXPERIENCIA'*/
  font-size: 9.5rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

/* --------------------------------------------------------responsivo----------------------------------------------------- */

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize; /*só aumenta a primeira letra*/
    max-width: initial !important;
  }
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .experiencia .subtitulo {
    color: #141414;
  }
  .experiencia-texto {
    font-size: 1.25rem;
  }
  .empresa-ano {
    position: initial; /*mudei o position do ano, pois ele tinha subido conforme diminui a tela*/
    order: 1; /*p o ano ficar abaixo dos elementos do container, se fosse 0 ele ficaria como primeiro, como nenhum outro elemento tem ordem definida, qui o 1 seria o ultimo elemento, é como se ele pegasse o meu <span>ano no html e jogasse para baixo do codigo  */
    width: initial; /*coloquei os atributos do ano para o valor inicial dele*/
    text-align: left;
  }
}

@media (max-width: 400px) {
  .empresa {
    grid-template-columns: 1fr;
  }
}
