.footer {
  background: #000000;
}

.footer-container {
  display: grid;
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  /* align-items: center; */
  /* row-gap: 10px; */
  /* align-content: end; */
  justify-items: start;
}

/* .footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
} */

.footer-contato li {
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 1.1;
  color: #ffffffff;
  margin-bottom: 30px;
}

.footer-contato li a {
  color: #ffffffff;
}

.footer-copy {
  grid-column: 1 / -1; /*P MEUS(direitos reservados) OCUPAR DA PRIMEIRA COLUNA, ATÉ A ÚLTIMA COLUNA!*/
  font-size: 1.125rem;
  color: #8f8f8f;
}

.container-text-footer {
  /* display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
  gap: 20px; */
  /* display: grid; */
  /* gap: 40px; */
  /* row-gap: 10px; */
  /* align-content: end; */

  /* padding-top: -5500px; */
}

.container-text-footer h2 {
  /* align-items: start; */
  /* display: inline-block; */
  font-size: 5.5rem;
  text-transform: uppercase;
  word-break: break-all;
  /* margin-top: -80px; */
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border: solid 2px red;
  /* padding: 20px; */
  padding-bottom: 20px;
  /* justify-self: center; */
  /* align-content: end; */
  /* margin-top: -20%; */
}
.container-text-footer a {
  display: block;
  border: solid 2px red;
  color: azure;
  font-size: 2.5rem;
  padding-bottom: 30px;
}
/* -------------------------------------------------RESPONSIVO--------------------------------------------------------- */

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}
