.footer {
  background: #000000;
}

.footer-container {
  display: grid;
  max-width: 1200px;
  padding: 120px 20px 20px 20px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  justify-items: start;
}

.footer-copy {
  grid-column: 1;
  font-size: clamp(0.7rem, 1vw, 2.5rem);
  color: #8f8f8f;
  padding-left: 5em;
}

.container-text-footer h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: clamp(3rem, 5vw, 5.5rem);
  text-transform: uppercase;
  word-break: break-all;
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 20px;
}
.container-text-footer > a {
  display: block;
  color: azure;
  font-size: clamp(1.5rem, 2vw, 3.5rem);
}

.whats img {
  display: inline-block;
  width: clamp(3rem, 6vw, 7.5rem);
  margin-top: 50px;
}

/* --------------------------RESPONSIVO------------------------------------------ */

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
    justify-items: center;
    padding: 3.75em 1.25em 1em;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
  .container-text-footer {
    justify-items: center;
    grid-area: 1;
  }
  .footer-copy {
    padding-left: 0em;
  }
}
