form {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(72, 72, 72, 0.4);
  box-shadow: 0 0 13px 3px RGBA(0, 191, 255, 1);
  overflow: hidden;
}

/*!balão grande de texto*/
textarea {
  background: #fff;
  width: 276px;
  height: 110px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  color: black;
  padding-left: 45px;
  padding-right: 20px;
  padding-top: 12px;
  margin-bottom: 20px;
  overflow: hidden;
}

/*!NOME E EMAIL BALÃO*/
input {
  width: 276px;
  height: 48px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  cursor: pointer;
}

input.name {
  padding-left: 45px;
}

input.email {
  padding-left: 45px;
}

input.message {
  padding-left: 45px;
}

/*!cores do texto*/
::-webkit-input-placeholder {
  color: #8f8f8f;
}

:-moz-placeholder {
  color: #fff;
}

::-moz-placeholder {
  color: #fff;
}

:-ms-input-placeholder {
  color: #fff;
}

/*!botão enviar*/
.btn-footer {
  background: #2fa0fb;
}

/*!botão enviar hover*/
.btn-footer:hover {
  border: 1px solid white;
  text-shadow: #333333 0 1px 0;
  background: #0090f7;
}

/*!botao de enviar pressionado!*/
.btn-footer:active {
  margin-top: 1px;
  text-shadow: #333333 0 -1px 0;
  border: 1px solid white;
}
