.formacao {
  background: #141414;
  color: #ffffff;
  outline: 4px solid red;
}

.formacao-container {
  max-width: 1200px;
  padding: 7.5em 1.25em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25em;
  position: relative;
  outline: 2px solid green;
}

/*!DETALHE em VERDE*/
.formacao-container::after {
  content: "";
  display: block;
  width: 17ch;
  height: 13ch;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -6ch;
  left: 2ch;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
  outline: 2px solid orange;
}

.cursos {
  margin-bottom: 3.75em;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 1.875em;
  position: relative;
  outline: 2px solid yellow;
}

.formacao-extra h3::before {
  display: block;
  content: "";
  width: 3ch;
  height: 3ch;
  background: url("../img/cursos.svg") no-repeat center center;
  position: absolute;
  left: -2.25em;
  top: -0.25em;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25em;
  outline: 2px solid yellow;
}

.formacao-extra span {
  color: #e0e0e0;
  font-size: 0.9rem;
  outline: 2px solid yellow;
}

.cursos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cursos-idiomas {
  outline: 3px solid plum;
  grid-column: 2;
}

.card-habilidades-container-geral {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  outline: 3px solid red;
  align-content: center;
  justify-content: space-around;
}

.card-habilidade {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  outline: 2px solid blue;
  gap: 0.938em;
}
.card-habilidade img {
  filter: invert();
  display: block;
  outline: 2px solid red;
  margin: 1em;
  box-shadow: 0 0 13px 5px RGBA(230, 110, 0, 1);
  border-radius: 5px;
  width: 8vh;
}

.img-skill-div {
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
/*!hover nos cards skills*/
.img-skill-div span {
  display: inline-block;
  padding: 0.4em;
  font-weight: bold;
  font-size: 2vh;
  position: absolute;
  bottom: 5em;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, 0%);
  background: RGBA(224, 255, 255, 1);
  color: #000000;
}
/*!hover nos cards skills*/
.img-skill-div:hover span {
  display: inline-block;
  opacity: 1;
  box-shadow: 0 0 13px 5px RGBA(240, 248, 255, 1);
  border-radius: 5px;
}

.card-habilidades-container-geral h3 {
  display: inline-block;
  font-size: clamp(1.5rem, 1.5vw, 5.5rem);
  border: 1px solid yellow;
  bottom: 80em;
}

/*!----------------------------------------responsivo---------------------------------------- */
@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 3.75em 1.25em;
    gap: 2.5em;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.125rem;
  }
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 0.625em;
  }
  .card-habilidades-container-geral h3 {
    font-size: clamp(1rem, 3vw, 5.5rem);
  }
  .img-skill-div {
    display: block;
    width: 10%;
  }
  .card-habilidade {
    /* margin: 0 2.62em;  */
    /*!gambiarra p afastar o card da direita*/
    margin-right: 2em;
  }
  .cursos {
    margin-bottom: 1.75em;
  }
  .formacao-container::after {
    display: none;
  }
  .formacao-extra li {
    font-size: clamp(1rem, 3vw, 5.5rem);
  }
  .cursos ul {
    gap: 0.625em;
  }
  .img-skill-div:hover span {
    display: none;
  }
  .img-skill-div span {
    display: block;
    font-size: 0.5rem;
    opacity: 1;
    box-shadow: 0 0 13px 5px RGBA(240, 248, 255, 1);
    border-radius: 5px;
  }
  /* span:focus {
    color: red;
    background: red;
  } */

  .card-habilidade img {
    margin: 0em;
    margin-top: 1em;
  }
  .container-text-footer h2 {
    font-size: clamp(3rem, 5vw, 5.5rem);
  }
}

@media (max-width: 1020px) {
  .formacao-container {
    grid-template-columns: 1fr;
  }
  .card-habilidades-container-geral {
    gap: 2.125em;
    align-items: center;
  }
  .cursos-idiomas {
    grid-column: auto; /**move os cursos p baixo*/
  }
}
