.formacao {
  background: #141414;
  color: #ffffff;
  outline: 4px solid red;
}

.formacao-container {
  max-width: 1200px;
  padding: 7.5em 1.25em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25em;
  position: relative;
  outline: 2px solid green;
}

/*!DETALHE em VERDE*/
.formacao-container::after {
  content: "";
  display: block;
  width: 17ch;
  height: 13ch;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  bottom: -6ch;
  left: 2ch;
}

.formacao .subtitulo {
  color: #000000;
  max-width: 5ch;
  outline: 2px solid orange;
}

/* .formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #a3a3a3;
  outline: 20px solid orange;
} */

/* .formacao-texto strong {
  color: #ffffff;
  outline: 20px solid orange;
} */

/* .faculdade-lista {
  display: flex; 
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
} */

/* .faculdade {
  flex: 1;
  background: #000000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column; 
} */

/* .faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px; 
} */

/* .faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
} */

/* .faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 20px;
  left: -24px;
} */

/* .faculdade-instituicao {
  font-size: 1.125rem;
  color: #a3a3a3;
} */

.cursos {
  margin-bottom: 3.75em;
}

.formacao-extra h3 {
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 1.875em;
  position: relative;
  outline: 2px solid yellow;
}

/* ---------------------------------------------------------------------------------------------- */
.formacao-extra h3::before {
  display: block;
  content: "";
  width: 3ch;
  height: 3ch;
  background: url("../img/cursos.svg") no-repeat center center;
  position: absolute;
  left: -2.25em;
  top: -0.25em;
}

.cursos h3::before {
  background: url("../img/cursos.svg") no-repeat center center;
}

.idiomas h3::before {
  background: url("../img/idiomas.svg") no-repeat center center;
}
/* ---------------------------------------------------------------------------------------------- */

.formacao-extra li {
  font-size: 1.125rem;
  line-height: 1.1;
  margin-bottom: 1.25em;
  outline: 2px solid yellow;
}

.formacao-extra span {
  color: #e0e0e0;
  font-size: 0.9rem;
  outline: 2px solid yellow;
}

.cursos ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cursos-idiomas {
  outline: 3px solid plum;
  grid-column: 2;
}

.card-habilidades-container-geral {
  /* display: inline-block; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  outline: 3px solid red;
  align-content: center;
  justify-content: space-around;
  /* height: 40vh; */
  /* gap: 50px; */
}

.card-habilidade {
  /* display: block; */
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  outline: 2px solid blue;
  gap: 0.938em;
  /* margin: 0 0.62em; */
  /* height: 50vh; */
  /* width: 50vw; */
}
.card-habilidade img {
  filter: invert();
  display: block;
  /* max-width: 5vw; */
  outline: 2px solid red;
  /* gap: 50px; */
  margin: 1em;
  /* box-shadow: 0 0 13px 3px RGBA(0, 191, 255, 3); */
  box-shadow: 0 0 13px 5px RGBA(230, 110, 0, 1);
  border-radius: 5px;
  width: 8vh;
}

.img-skill-div {
  /* display: inline-block; */
  /* display: flex; */
  /* display: block; */
  display: inline-block;
  position: relative;
  margin: 0 auto;
  /* padding: 10px; */
  /* float: left; */
  /* width: 200px; */
  /* outline: 2px solid greenyellow; */
}
/*!hover nos cards skills*/
.img-skill-div span {
  /* color: #f00; */
  /* display: block; */
  display: inline-block;
  padding: 0.4em;
  /* color: #f00; */
  font-weight: bold;
  font-size: 2vh;
  position: absolute;
  bottom: 5em;
  left: 50%;
  /* right: 2em; */
  /* -webkit-border-radius: 0 0 5px 5px; */
  /* -moz-border-radius: 0 0 5px 5px; */
  /* border-radius: 0 0 5px 5px; */
  opacity: 0;
  /* -moz-opacity: 0; */
  /* filter: alpha(opacity=0); */
  transform: translate(-50%, 0%);
  background: RGBA(224, 255, 255, 1);
  color: #000000;
  /* float: left; */
  /* width: 100%; */
  /* border: 30px solid #f00; */
}
/*!hover nos cards skills*/
.img-skill-div:hover span {
  display: inline-block;
  /* float: left; */
  /* border: 1px solid #f00; */
  opacity: 1;
  /* -moz-opacity: 1; */
  /* filter: alpha(opacity=100); */
  box-shadow: 0 0 13px 5px RGBA(240, 248, 255, 1);
  border-radius: 5px;
  /* float: left;
  width: 100%; */
}

.card-habilidades-container-geral h3 {
  display: inline-block;
  /* font-size: 3vh; */
  font-size: clamp(1.5rem, 1.5vw, 5.5rem);
  /* display: block; */
  border: 1px solid yellow;
  /* transform: translate(-960%, 0%); */
  bottom: 80em;
  /* margin-top: 20%; */
}

/* ----------------------------------------------------responsivo-------------------------------------------------- */
@media (max-width: 800px) {
  .formacao-container {
    grid-template-columns: 1fr;
    padding: 3.75em 1.25em;
    gap: 2.5em;
  }
  .formacao .subtitulo {
    color: #ffffff;
  }
  .formacao-texto {
    font-size: 1.125rem;
  }
  /*os meus icones  e letras em cursos estavam saindo da tela, usei esse before e position inicial p voltarem*/
  .formacao-extra h3::before {
    position: initial;
    margin-bottom: 10px;
  }
  .card-habilidades-container-geral h3 {
    font-size: clamp(1rem, 3vw, 5.5rem);
  }
  .img-skill-div {
    display: block;
    width: 10%;
  }
  .card-habilidade {
    /* margin: 0 2.62em;  */
    /*!gambiarra p afastar o card da direita*/
    margin-right: 2em;
  }
}

/* @media (max-width: 1145px) {
  .cursos ul {
    display: flex;
    align-items: flex-start;
    gap: 44px;
  }
} */
@media (max-width: 1020px) {
  .formacao-container {
    grid-template-columns: 1fr;
    /* gap: 40px; */
  }
  .card-habilidades-container-geral {
    gap: 2.125em;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr; */
    /* background: yellow; */
  }
  .cursos-idiomas {
    grid-column: auto; /*!move os cursos p baixo*/
  }
}
