/* body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414; */
/* margin-bottom: 1000px; */
/*usei só p ver melhora enquanto fazia o site, ao finalizar posso tirar!*/
/* } */

/* h1,
h2,
h3,
p {
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
} */

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;

  font-size: 100%;
  list-style-type: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}
