:root {
  --cor-primaria: #2fa0fb;
  --cor-secundaria: #00f793;
  --cor-gradiente: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  --cor-shadow-blue: #0090f7;
  --cor-b-header: rgba(20, 20, 20, 0.68);
  --cor-branca1: #ffffff;
  --cor-text-c1: #525252;
  --cor-text-c2: #e0e0e0;
  --cor-black-0: #000000;
  --cor-background: #141414;
  --cor-detal-g: #a3f223;
  --cor-detal-g2: #ccf235;
  --cor-yellow-b: #ffc324;
  --cor-yellow-b2: #ffb714;
  --cor-ye-b-gradient: linear-gradient(-90deg, #ffb714, #ffe579);
}

/*! modo escuro*/
:root {
}
@media (preferencia-tema: dark) {
}
/*! modo escuro*/

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;

  font-size: 100%;
  list-style-type: none;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
a:visited {
  color: black;
}

img {
  max-width: 100%;
  display: block;
}
