.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0.62em;
  display: flex;
  flex-wrap: wrap;
  /*----------------------------borda do header-------------*/
  box-shadow: 0px 0px 10px #0090f7;
  border-radius: 0.125rem;
  /*glass efeito*/
  backdrop-filter: blur(40px) saturate(200%);
  -webkit-backdrop-filter: blur(40px) saturate(200%);
  background-color: rgba(20, 20, 20, 0.68);
}
.todos-itens-header {
  /* outline: 5px solid greenyellow; */
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  justify-content: space-around;
}

.header-menu {
  display: flex;
  /* outline: 2px solid greenyellow; */
  flex-wrap: wrap;
  gap: 0.62em;
  justify-content: center;
  /* margin-right: 20px; */
}

.header-menu a {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  /* line-height: 1.3; */
  padding: 0.62em 1.25rem;
  color: #ffffff;
  /* outline: 2px solid greenyellow; */
}

.logo {
  display: inline-block;
  /* outline: 2px solid greenyellow; */
  margin-left: 13.5%;
}

/*hover do nav aqui---------------------------------*/

.nav_item {
  position: relative;
  /* outline: 2px solid red; */
}
.nav_item:hover::before {
  content: "";
  width: 100%;
  transform: scaleY(1);
}

.nav_item::before {
  content: "";
  position: absolute;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(85, 177, 244, 1) 0%,
    rgba(3, 233, 223, 1) 100%
  );
  width: 0.188em;
  border-radius: 0.313em;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s;
  /* outline: 2px solid red; */
}

.nav__link:link,
.nav__link:visited {
  position: relative;
  z-index: 10;
}
/*ao click no botao*/
.nav__link:active {
  transform: translateY(3px);
}
/*-----------------------------------------------------RESPONSIVO-----------------------------------------------------------*/
/* @media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 2.5em;
    padding: 1.25em;
  }
  .header a {
    border-radius: 0.25em;
  }
} */
