.header {
  /* max-width: 1200px; */
  /* padding: 40px 20px; */
  padding: 10px;
  /* margin: 0 auto; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  /* justify-content: end; */
  /* justify-content: center !important; */
  align-items: center !important;
  outline: 2px solid red;
  background: #f5f5f5;
  /*----------------------------borda do header-------------*/
  box-shadow: 0px 0px 10px #0090f7;
  border-radius: 2px;
}
.todos-itens-header {
  outline: 5px solid greenyellow;
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  /* margin-left: 20px; */
  /* margin-right: 20px; */
  /* flex: 1 1 1000px; */
  justify-content: space-around;
}

.logo {
  display: inline-block;
  /* align-self: flex-start; */
  /* flex: 1; */
  outline: 2px solid red;
  margin-left: 80px;
}

.header-menu {
  display: flex;
  outline: 2px solid greenyellow;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-right: 20px;
}

.header-menu a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 10px 20px;
  text-decoration: none;
  color: #141411;
  /* color: #ffffff; */
  display: block;
}

/*hover do nav aqui---------------------------------*/

.nav_item {
  position: relative;
  /* font-weight: 500;
  font-size: 28px; */
}
.nav_item:hover::before {
  content: "";
  width: 100%;
  transform: scaleY(1);
}

.nav_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  /* background-color: #55b1f4; */
  background: linear-gradient(
    0deg,
    rgba(85, 177, 244, 1) 0%,
    rgba(3, 233, 223, 1) 100%
  );

  width: 3px;
  border-radius: 5px;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s;
}

.nav__link:link,
.nav__link:visited {
  /* text-decoration: none; */
  /* color: #fff; */
  /* padding: 0.5rem; */
  position: relative;
  display: block;
  display: flex;
  z-index: 10;
  align-items: center;
  z-index: 10;
}
.nav__link:active {
  transform: translateY(3px);
}
/*-----------------------------------------------------RESPONSIVO-----------------------------------------------------------*/
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    gap: 40px;
    padding: 20px;
  }
  .header a {
    background: #f5f5f5;
    border-radius: 4px;
  }
}
