.header {
  width: 100%;
  position: fixed;
  z-index: 1;
  padding: 0.62em;
  display: flex;
  flex-wrap: wrap;
  /*----------------------------borda do header-------------*/
  box-shadow: 0px 0px 10px #0090f7;
  border-radius: 0.125rem;
  /**glass efeito*/
  backdrop-filter: blur(40px) saturate(200%);
  -webkit-backdrop-filter: blur(40px) saturate(200%);
  background-color: rgba(20, 20, 20, 0.68);
}
.todos-itens-header {
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  align-items: center;
  justify-content: space-around;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 0.62em;
  justify-content: center;
}

.header-menu a {
  display: block;
  font-size: 1.125rem;
  font-weight: bold;
  padding: 0.62em 1.25rem;
  color: #ffffff;
}

.logo {
  display: inline-block;
  margin-left: 13.5%;
}

/*hover do nav aqui---------------------------------*/

.nav_item {
  position: relative;
}
.nav_item:hover::before {
  content: "";
  width: 100%;
  transform: scaleY(1);
}

.nav_item::before {
  content: "";
  position: absolute;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(85, 177, 244, 1) 0%,
    rgba(3, 233, 223, 1) 100%
  );
  width: 0.188em;
  border-radius: 0.313em;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s 0.2s, background-color 0.1s;
}

.nav__link:link,
.nav__link:visited {
  position: relative;
  z-index: 10;
}
/*EFEITO ao click no botao*/
.nav__link:active {
  transform: translateY(3px);
}

/**MENU HAMBURGER-------------------------------*/
#humburguer {
  display: block;
  width: 4vh;
  display: none;
}
/**Efeito de click no menu hamburguer*/
#humburguer:active {
  transform: translateY(3px);
}

#humburguer:hover {
  border: solid 1px transparent;
}
/*-------------------RESPONSIVO----------------------------------*/
@media (max-width: 990px) {
  .logo {
    margin-left: 0;
  }
}
@media (max-width: 730px) {
  #humburguer {
    display: block;
  }
  .navegacao {
    display: none;
  }
  /**criar o menu navegação adequadro par ao hambuguer*/
  .navegacao {
    position: absolute;
    top: 70px;
    right: 0px;
    height: 70px;
    z-index: 1000;
  }
  .header-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    backdrop-filter: blur(40px) saturate(200%);
    -webkit-backdrop-filter: blur(40px) saturate(200%);
    background-color: rgba(20, 20, 20, 1.68);
    box-shadow: 0px 0px 10px #0090f7;
  }
}
@media (min-width: 731px) {
  #navegacaolista {
    display: block !important;
  }
}
