.introducao {
  max-width: 1200px;
  padding: 80px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}

/*TENTANDO EFEITO NAS LETRAS*/

/*TENTANDO EFEITO NAS LETRAS FIM*/

/*efeito gradiente no texto*/
.texto-profissao h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 2px;
  line-height: 1.125;
  margin-bottom: 30px;
  /* text-align: center; */
  color: #2fa0fb;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}
.texto-profissao p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  /* font: 14.5rem; */
  /* color: #525252; */
  color: #2fa0fb;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*ABAIXO É O DETALHE POR TRÁS DA LETRA*/
/* .introducao h1::before {
  content: " ";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
} */

/*--------------------------------------------------------RESPONSIVO---------------------------------------------------*/
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao img {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
