.introducao {
  max-width: 1200px;
  padding: 5em 1.25em;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 6.25em;
  align-items: center;
}

/*efeito gradiente no texto*/
.texto-profissao h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 2px;
  /* line-height: 1.125; */
  margin-bottom: 1.875em;
  /* color: #2fa0fb; */
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
}
.texto-profissao p {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 1.2rem;
  /* color: #2fa0fb; */
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
  animation: hue 10s infinite linear;
}
.texto-profissao a {
  display: inline-block;
  border: solid 2px #2fa0fb;
  border-radius: 5px;
  padding: 08px 08px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.texto-profissao a:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px;
}

/*animação das cores*/
@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
/*add aqui sem o -webkit- para pega nos browsers antigos*/
@keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

/*--------------------------------------------------------RESPONSIVO---------------------------------------------------*/
@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }

  .introducao h1 {
    font-size: 2rem;
  }

  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
}

@media (max-width: 400px) {
  .introducao img {
    grid-template-columns: 1fr;
  }
  .introducao img {
    display: none;
  }
}
