.quem-sou-container-geral {
  display: grid;
  max-width: 1200px;
  padding: 7.5em 1.25em;
  margin: 0 auto; /*0 auto*/
  grid-template-columns: 1fr 2fr;
  gap: 6.25em;
}
.quem-sou-texto h2 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: inline-block;
  font-size: clamp(3rem, 5vw, 5.5rem);
  text-transform: uppercase;
  word-break: break-all;
  margin-top: -1em;
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quem-sou-texto p {
  margin-top: 1.25em;
  font-size: clamp(1rem, 1.5vw, 3.5rem);
  line-height: 1.33;
  margin-bottom: 1.75em;
  max-width: 650px;
  color: #525252;
}

/*!ICONES REDES SOCIAIS*/
.enviar-email-button {
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  border: solid 2px black;
  border-radius: 5px;
  display: inline-block;
  padding: 0.625em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0.938em 2.25em;
  color: black;
}

.enviar-email-button:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px;
}
.icon {
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 1% 2%;
  padding-bottom: 19%;
}

.icon:last-of-type {
  margin-right: 0;
}
.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0.425em;
  background-color: #fff;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  transition: all 0.2s ease-out;
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  /* font-size: 13px; */
  font-size: clamp(0.5rem, 0.7vw, 3.5rem);
  text-align: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  transition: all 0.3s ease-out;
  opacity: 1;
  filter: blur(0);
}

.icon--twitter a {
  background-color: #00aced;
  background-image: url("https://benhodgson.net/img/social/twitter.svg");
}

.icon--linkedin a {
  background-color: #007fb1;
  background-image: url("https://benhodgson.net/img/social/linkedin.svg");
}

.icon--instagram a {
  background-color: #405de6;
  background-image: url("https://benhodgson.net/img/social/instagram.svg");
}

.icon--github a {
  background-color: #4078c0;
  background-image: url("https://benhodgson.net/img/social/github.svg");
}

/*RESPONSIVO-----------------------------------------------------------*/
@media all and (min-width: 40px) {
  .icon {
    width: 9%; /*9%*/
    padding-bottom: 9%; /*9%*/
  }
}
@media (max-width: 600px) {
  .quem-sou-container-geral {
    grid-template-columns: 1fr; /*padrao*/
    justify-items: center; /*padrao*/
    padding: 1.25em; /*padrao*/
    gap: 0;
  }
  .icon {
    /* width: 19%; */
    /* height: 0; */
    margin: 1% 5%;
    /* padding-bottom: 19%; */
  }

  .img-perfil img {
    display: none;
  }
}
@media (max-width: 1080px) {
  .enviar-email-button {
    display: none;
  }
}
