.quem-sou {
  /* background: #e3ffef; */
  /* background: #ffe742; */
  /* background: #87fffb; */
  /* background: #e1f1ff; */
  /* background: #ebebff; */
  /* background: #6c6efd; */
  /* background: #cdcdff; */
  /* background: #2fa0fb; */

  /* background-image: url("../img/wave.svg"); */
}
.quem-sou-container-geral {
  display: grid;
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto; /*0 auto*/
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  /* background: #00bfff; */
  /* position: relative; */
  border: solid 2px black;
}
.quem-sou h2 {
  border: solid 2px black;
  display: inline-block;
  font-size: 4.5rem;
  text-transform: uppercase;
  word-break: break-all;
  color: #e0e0e0;
  /* color: #2fa0fb;
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* margin-top: -200px; */
  /* margin: 5px 700px; */
  margin-top: -80px;
}
.quem-sou-texto h2 span {
  color: #2fa0fb;
}
.quem-sou-texto p {
  /* margin: 20px; */
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 50ch;
  /* color: #a3a3a3; */
  color: black;
}
.img-perfil img {
  /* -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); */
  /* caminho do clipe: polígono(0% 0%,75% 0%,100% 50%,75% 100%,0% 100%); */
  /* border: solid 2px black; */
  /* max-width: max-content; */
  max-width: 150%;
}

.img-perfil img:hover {
}

.quem-sou-texto {
  border: solid 2px black;
  display: block;
  /* width: max-content;
  height: max-content; */
  /* grid-column: 2; */
  /* grid-row: 1; */
}
