/* .quem-sou {
  background: #e3ffef;
  background: #ffe742;
  background: #87fffb;
  background: #e1f1ff;
  background: #ebebff;
  background: #6c6efd;
  background: #cdcdff;
  background: #2fa0fb;
} */
.quem-sou-container-geral {
  display: grid;
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto; /*0 auto*/
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  /* background: #00bfff; */
  /* position: relative; */
  /* border: solid 2px black; */
}
.quem-sou-texto h2 {
  /* border: solid 2px black; */
  display: inline-block;
  font-size: 5.5rem;
  text-transform: uppercase;
  word-break: break-all;
  margin-top: -80px;
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.quem-sou-texto p {
  /* margin: 20px; */
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 50ch;
  /* color: #a3a3a3; */
  color: black;
}
/* .img-perfil img {
  border: solid 2px black;
  max-width: max-content;
  max-width: 150%;
} */

.quem-sou-texto {
  /* border: solid 2px black; */
  display: block;
  /* width: max-content;
  height: max-content; */
  /* grid-column: 2; */
  /* grid-row: 1; */
}

/*ICONES REDES SOCIAIS*/
.icones-redes {
  display: block;
  /* border: solid 2px red; */
  /* align-items: center;
  align-self: center;
  justify-items: center; */
}
.enviar-email-button {
  background-image: -webkit-linear-gradient(0deg, #2fa0fb 3%, #00f793 99%);
  border: solid 2px black;
  border-radius: 5px;
  display: inline-block;
  padding: 10px;
  /* font-size: 18px; */
  text-transform: uppercase;
  font-weight: bold;
  margin: 15px 100px;
  color: black;
}

.enviar-email-button:hover {
  transition: all 0.3s ease;
  box-shadow: 5px 5px 5px;
}
.social-icons {
  /* border: solid 2px black; */
  max-width: 980px;
  /* margin-left: 80px; */
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* margin: 10%; */
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  /* padding-left: 20%; */
}

.icon {
  /* border: solid 2px red; */
  float: left;
  position: relative;
  width: 19%;
  height: 0;
  margin: 1% 2%;
  padding-bottom: 19%;
}
@media all and (min-width: 640px) {
  .icon {
    width: 9%;
    padding-bottom: 9%;
  }
}
.icon:last-of-type {
  margin-right: 0;
}
.icon a {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all 0.2s ease-out;
}
.icon a:hover {
  background-color: #222;
  background-size: 0%;
  transition: all 0.2s ease-out;
}

.icon__name {
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -7px;
  color: #fff;
  font-size: 13px;
  text-align: center;
  transition: all 0.3s ease-out;
  opacity: 0;
  filter: blur(25px);
  transform: translateZ(0);
  will-change: transform;
}
.icon:hover .icon__name {
  transition: all 0.3s ease-out;
  opacity: 1;
  filter: blur(0);
}

.icon--twitter a {
  background-color: #00aced;
  background-image: url("https://benhodgson.net/img/social/twitter.svg");
}

.icon--linkedin a {
  background-color: #007fb1;
  background-image: url("https://benhodgson.net/img/social/linkedin.svg");
}

.icon--instagram a {
  background-color: #405de6;
  background-image: url("https://benhodgson.net/img/social/instagram.svg");
}

.icon--github a {
  background-color: #4078c0;
  background-image: url("https://benhodgson.net/img/social/github.svg");
}
