.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.toggle__item {
  width: 70px; /*160* deixei 80*/
  height: 30px; /*80 deixei 40*/
  display: block;
  position: relative;
  overflow: hidden;
  background-color: #00bfff;
  border: 5px solid #99ccff;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  overflow: hidden;
}

.toggle__item::before {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: calc(50% - 12px); /*-25*/
  width: 15px; /*40*/
  height: 15px; /*40*/
  border-radius: 50%;
  border: 5px solid #ffe85d;
  background: #ffb70c;
  transition: transform 0.4s ease-out, box-shadow 0.4s ease;
  transform-origin: 32px center; /*70px lua left*/
}

.toggle__input:checked + .toggle__item {
  background-color: #131862;
  border-color: #2e4482;
}

.toggle__input:checked + .toggle__item::before {
  transform: rotate(-180deg); /*-180deg*/
  background-color: transparent;
  border-color: transparent;
  box-shadow: inset 6px -1px #f5f5f5; /*circuferencia da lua*/
}
